/*Stick Footer*/
/*=====================================*/
html, body {
    height: 100%;
    background-color: black;
    background-image: url("../images/bus.jpg");
    background-size: 100%;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -30px;
}
.footer, .push {
    height: 30px; 
}
/*=====================================*/
/*Hide Play and Reset Button*/
/*=====================================*/
.hide {
	display: none;
}
/*=====================================*/
h1 {
	font: 32px/150% "Helvetica Neue", "Helvetica", Arial, sans-serif;
	color: white;
	text-shadow: 2px 2px black;
}
h2, p, button {
	font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
	color: white;
	font-size: : 16px;
	text-shadow: 1px 1px black;
}
button {
	padding: 10px;
	margin: 10px auto;
	color:black;
	text-shadow: none;
}
.footer {
	font-size: 24px;
	color: #f5f5f5;
	text-shadow: 2px 2px black;
}
